<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="SuiteMichaelTest" verbose="1" preserve-order="true">
  <test name="MichaelTest">
<!--   	<packages> -->
<!--   		<package name="MichaelTest" /> -->
<!--   	</packages> -->
    <classes>
      <class name="com.michael.test.SeleTest01" />
   </classes>
 </test>
</suite>